@import url('https://fonts.googleapis.com/css2?family=font-family&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* MENU */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 36px;
    /* color: #1CB698; */
    color: #218ea3;
    /* color: #00A264; */
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: none;
    color: #fff;
    margin: 0 5px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #33BDDA;
    
}
.nav-responsive{
    background-color: #218ea3;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION INICIO */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url('../img/bannerprueba.png');
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    /* background-color: #1e2326; */
    min-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 40px;
    font-size: 42px;
    font-weight: bold;
}

.inicio .contenido-banner p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 1.5em;  

}


.inicio .contenido-banner span{
    font-family: 'Roboto', sans-serif;
    color: #218ea3;
    font-size: 1.5em;
    letter-spacing: 1px;

}


.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #236f7e;
}

.sobremi{
    background-color: #218ea3;
    color: #fff;
    padding: 30px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;    
}
.sobremi h2{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 18px 0PX;
    margin-top: 40px;
    

}
.sobremi .contenido-seccion p{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.5;
    
}
.sobremi .contenido-seccion p span{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 10px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 12px;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #fff;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #218ea3;
    padding: 3px;
    font-weight: bold;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: calc(25% - 35px); /* Ancho deseado para cada elemento con margen */
    max-width: 200px; /* Ancho máximo para cada elemento */
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes img {
    max-width: 70%; /* Ajustar el tamaño máximo de la imagen */
    max-height: 70%; /* Ajustar el tamaño máximo de la imagen */
    height: auto;
}


.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #33BDDA;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}

/* SECCION PORTFOLIO */
.portfolio{
    font-family: 'Roboto', sans-serif;
    background-color: #252A2E;
    color: #fff;
    padding: 30px 20px;
    border-radius: 0px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    /* cursor: pointer; */
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(60, 160, 160, 0.8), rgba(30, 78, 83, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
    font-size: 16px;
    letter-spacing: 1px;    
    border-radius: 10px;
    opacity:0;

    
}
.portfolio .galeria .proyecto .overlay h3{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{    
    margin-bottom: 0px;
}
.portfolio .galeria .proyecto .redes a{    
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}

.portfolio .galeria .proyecto .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    width: 60px;
    height: 22px;
    line-height: 1.2;
    margin: 10px 5px;
    font-size: 16px;
    transition: .3s;
}

/* PORTAFOLIO - PROYECTOS EN PROCESO */
.contenido-seccion p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    /* letter-spacing: 1px; */
    font-size: 16px;
    line-height: 1.5;
}

.portfolio2 h2{    
    margin-top: 0px;
    text-align: left;
}

/* SECCION CONTACTO */
.contacto{
    background-image: url(../img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 15px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}


.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #218ea3;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}

/* FOOTER */
.content-foo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  
  .content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .content-foo p,
  .content-foo ul {
    color: #ccc;
  }
  
  .content-foo ul {
    list-style: none;
  }
  
  .content-foo ul li {
    padding: 5px 0;
  }
  
  .content-foo ul li i {
    margin-right: 8px;
  }
  
  .content-foo a {
    display: block;
    color: #ccc;
    font-size: 16px;
    padding: 5px 0;
  }
  
  .content-foo a:hover {
    color: #fff;
  }
  
  .copyrigth {
    background-color: #252A2E;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .copyrigth h2 {
    font-size: 18px;
    margin: 15px 0 15px 25px;
    color: #ccc;
  }
  
  .copyrigth .redes-sociales {
    display: flex !important;
    text-align: center;
    font-size: 24px;
    margin-right: 15px;
  }
  
  .copyrigth .redes-sociales .bubble {
    width: 50px;
    height: 50px;
    background: #252A2E;
    border-radius: 50px;
    margin: 10px;
    filter: drop-shadow(0 0 10px #000);
  }
  
  .copyrigth .redes-sociales .bubble:hover {
    transform: scale(1.1);
    background-color: #218ea3;
  }
  
  .copyrigth .redes-sociales .bubble i {
    color: #ccc;
    padding: 12px 0;
  }
  
  .copyrigth .redes-sociales .bubble:hover i {
    color: #1f2b40;
  }

  footer {
    background: #218ea3;
    padding-top: 30px;
    margin: auto;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  } 

  .content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

footer .arriba{  width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
    filter: drop-shadow(0 0 10px #000);
  }

  .copyrigth .redes-sociales .bubble:hover {
    transform: scale(1.1);
    background-color: #218ea3;
  }
  
  .copyrigth .redes-sociales .bubble i {
    color: #ccc;
    padding: 12px 0;
  }
  
  .copyrigth .redes-sociales .bubble:hover i {
    color: #fff;
  }

/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
    
    .content-foo {
        width: 100%; /* Cambiar el ancho para ocupar toda la pantalla */
        margin-bottom: 20px; /* Agregar margen inferior para separar los elementos */
    }

    .content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
}
@media screen and (max-width:700px){
    .sobremi{
        background-color: #218ea3;
        color: #fff;
        padding: 20px 20px;
    }
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
        margin-bottom: 40px;
    }
    .sobremi .fila .tecnologias{
        width: fit-content;
        margin-bottom: 80px;
        
    }
    .sobremi .fila .tecnologias h3 {
        text-align: left;
    }

    .contenedor-intereses {
        display: flex;
        justify-content: center;
    }
    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contacto .fila .col{
        width: 100%;
    }
    .sobremi .fila .col ul li strong{
        display: inline-block;
        color: #fff;
        width: 90px;
        color: #fff;
    }

    .sobremi .fila .col .contenedor-intereses .interes{
        width: 80px;
        height: 80px;
        border-radius: 10px;
        margin: 0 15px 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    
    .sobremi .fila .col .contenedor-intereses .interes img{
        width: 40px;
    }

    

    .footer-container {
        display: flex;
        justify-content: center;
      }
    
    .content-foo {
        width: calc(50% - 20px); 
        margin: 0px;
      }
    
    .footer-container {
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    }
    

    .content-foo {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin: 20px; /* Espacio entre los elementos */
      }

    .copyrigth h2 {
        font-size: 16px;
        margin: 15px 0 15px 25px;
        color: #fff;
    }

  .content-foo p, .content-foo ul {
    color: #fff;
    }

    .content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
}